* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #ffa600;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.hello {
  color: white;
  font-size: 30px;
}

.name {
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

.job {
  color: white;
  font-size: 30px;
}

.job__list {
  font-weight: bolder;
  font-size: 35px;
  color: #db0000;
}

h2 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  margin: 50px 0;
}

.block {
  width: 2000px;
  height: 600px;
  background-color: #3d3d3c;
  position: absolute;
  z-index: 2;
}

.block__left {
  bottom: 700px;
  right: 600px;
}

.block__right {
  top: 500px;
  left: 550px;
}

.textBlock {
  position: absolute;
  z-index: 100;
  color: white;
  font-size: 150px;
  bottom: 160px;
}

.textBlock__left {
  left: 1350px;
}

.textBlock__right {
  right: 1400px;
}

footer {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 300px 0;
}

footer i {
  font-size: 300px;
  color: #3d3d3c;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer i:hover {
  font-size: 350px;
  color: white;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  margin: 0;
}

.projects__title {
  font-size: 30px;
  border: #3d3d3c solid;
  border-width: 10px 0;
  background-color: #ffa600;
  text-align: center;
}

.projects__title:hover + .projects__preview {
  visibility: visible;
  opacity: 1;
  height: 44vh;
}

.projects__preview {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 1px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: #3d3d3c solid;
  border-width: 0 0 10px 0;
}

.projects__preview .description {
  font-family: candal;
  font-size: 2.5vw;
  color: white;
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__preview video {
  border: 25px solid white;
}

li a {
  font-family: candal;
  text-transform: uppercase;
  font-size: calc(30px + 4vw);
  font-weight: bold;
  color: #3d3d3c;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  z-index: 10;
  position: relative;
  background-color: #3d3d3c;
}

.logos {
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logos__title {
  padding: 10px;
  margin: 10px 10px 10px 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: white;
}

.logos i {
  font-size: 150px;
  color: #3d3d3c;
  margin: 5px 25px 30px 25px;
}

.logos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.img {
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech {
  text-align: center;
  color: #3d3d3c;
  font-size: 20px;
}

.logos__list {
  position: relative;
}

.logos__list__left {
  left: 300px;
}

.logos__list__right {
  right: 300px;
}

.introduction {
  margin-bottom: 200px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 920px) {
  .introduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 200px;
  }
}

.introduction__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30vh;
}

@media all and (max-width: 920px) {
  .introduction__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
}

.job__list {
  list-style: none;
  position: relative;
}

.job__list::after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  height: 100%;
  width: 350px;
  background-color: #ffa600;
  border-left: red 2px solid;
  -webkit-animation: typing 5s steps(30) infinite;
          animation: typing 5s steps(30) infinite;
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
    width: 1px;
  }
  50% {
    left: 100%;
    width: 1px;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    width: 1px;
  }
  50% {
    left: 100%;
    width: 1px;
  }
}
/*# sourceMappingURL=style.css.map */