* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #ffa600;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.hello {
  color: white;
  font-size: 30px;
}

.name {
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

.job {
  color: white;
  font-size: 30px;
}

.job__list {
  font-weight: bolder;
  font-size: 35px;
  color: #db0000;
}

h2 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  margin: 50px 0;
}

.block {
  width: 2000px;
  height: 600px;
  background-color: #3d3d3c;
  position: absolute;
  z-index: 2;
}

.block__left {
  bottom: 700px;
  right: 600px;
}

.block__right {
  top: 500px;
  left: 600px;
}

.textBlock {
  position: absolute;
  z-index: 100;
  color: #ffa600;
  font-size: 150px;
  bottom: 160px;
}

.textBlock__left {
  left: 1350px;
}

.textBlock__right {
  right: 1400px;
}

footer {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px 0;
}

footer i {
  font-size: 300px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  z-index: 10;
  position: relative;
  background-color: #3d3d3c;
}

.introduction {
  margin-bottom: 200px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30vh;
}

.logos {
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logos__title {
  padding: 10px;
  margin: 10px 10px 10px 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #ffa600;
}

.logos i {
  font-size: 150px;
  color: #3d3d3c;
  margin: 5px 25px 30px 25px;
}

.logos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.img {
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech {
  text-align: center;
  color: #3d3d3c;
  font-size: 20px;
}

.logos__list {
  position: relative;
}

.logos__list__left {
  left: 300px;
}

.logos__list__right {
  right: 300px;
}
/*# sourceMappingURL=style.css.map */