.introduction{
    margin-bottom: 200px;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    }
}

.logos{
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    


    &__title{
        padding: 10px;
        margin: 10px 10px 10px 0;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        background-color: $primary__color;
    }

    i{
        font-size: 150px;
        color: $secondary__color;
        margin: 5px 25px 30px 25px;
    }

    &__list{
        display: flex;
        justify-content: space-evenly;   
        align-items: center; 
        margin-bottom: 200px;
    }
}

.img{
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // &__left{
    //     justify-content: right;
    // }
    
}

.tech{
    text-align: center;
    color: $secondary__color;
    font-size: 20px;
}

.logos__list{
    position: relative;

    &__left{
        left: 300px;
    }

    &__right{
        right: 300px;
    }

}