footer{
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 300px 0;

    i{
        font-size: 20vw;
        color: $secondary__color;
        transition: all 0.2s ease-in-out;


        &:hover{
            font-size: 25vw;
            color: $tertiary__color;
        }
    }

    
}

