.block{
    width: 2000px;
    height: 600px;
    background-color: $secondary__color;
    position: absolute;
    z-index: 2;

    @media all and (max-width: 1000px){
        display: none;
    }
    

    &__left{
        bottom: 700px;
        right: 570px;
    }

    &__right{
        top: 500px;
        left: 550px;
    }
    
}



.textBlock{
    position: absolute;
    z-index: 100;
    color: $tertiary__color;
    font-size: 130px;
    bottom: 160px;

    @media all and (max-width: 1000px){
        color: $secondary__color;
        position: relative;
        bottom: 0;
        font-size: 40px;
        }
    

    &__left{
        left: 1350px;
        @media all and (max-width: 1000px){
            left: 0;
        }
    }

    &__right{
        right: 1400px;
        @media all and (max-width: 1000px){
            left: 0;
        }
    }
}


